.sections {
  display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid $light-gray;
	position: relative;
}

.sections-nav {
  display: flex;
	font-family: $sans-serif;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sections-nav a {
  margin: 0 5px;
	text-transform: capitalize;
	font-family: $sans-serif;
	font-size: 12px;
	color: black;
}

.sections-nav ul {
  display: flex;
}

.sections-nav li {
	margin-left: 10px;
}

.sections-nav i {
  margin-right: 5px;
}
